/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --section-title-color: #ff0070;
  --subtitle-color: #000028;
  --subtitle-bg-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-border-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .page {
  background-image: url("../images/cover-image-dark.png");
}

.theme-dark .rec {
  display: block;
}
