/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #ffc2e6;
  --bg-image-path: ;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --subtitle-bg-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --hover-border-color: rgba(53, 52, 48, 0.4);
}

.theme-light .page {
  background-image: url("../images/cover-image-light.png");
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffc2e6;
    --bg-image-path: ;
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --subtitle-bg-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --hover-border-color: rgba(53, 52, 48, 0.4);
  }

  .page {
    background-image: url("../images/cover-image-light.png");
  }

  .rec {
    display: none;
  }
}
