/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-size: 18px;
  --image-gap: min(2.66vw, 20px);
  --text-line-height: 130%;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --section-title-color: #ff0070;
  --subtitle-color: #000028;
  --subtitle-bg-color: #ff0070;
  --text-color: #f1b2ce;
}
